* {
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
  margin: 0 auto;
}

.qcontainer {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold; 
  background: rgb(102, 189, 146);
  padding: 40px 50px;
  border-radius: 20px;
  margin: 40px 20%;
  font-size: 1.5em;
  text-align: justify;
}

.container {
  font-family: 'Courier New', Courier, monospace;
  background: white;
  padding: 15px 50px;
  border-radius: 20px;
  margin: 15px 20%;
  /* font-size: 1.17em; */
  display: block;
}

.radios {
  visibility: hidden;
}

.container:hover {
  background: rgb(59, 129, 198);
}

.containeractive {
  background: #3df38f;
  padding: 15px 50px;
  border-radius: 20px;
  margin: 15px 20%;
  display: block;
}

.buttonhide {
  visibility: hidden;
  border-radius: 50%;
  padding: 1% 4%;
  border: none;
  margin: 0 2% 0 auto;
}

.buttons1 {
  border-radius: 50%;
  padding: 1% 4%;
  font-size: 2em;
  color: black;
  background: rgb(102, 189, 146);
  border: none;
  margin: 0 2% 0 auto;
}
.buttons1:hover {
  border-radius: 100%;
  padding: 1% 4%;
  font-size: 2em;
  color: black;
  background: rgb(59, 129, 198);
  border: none;
  margin: 0 2% 0 auto;
}

.buttons2 {
  border-radius: 50%;
  padding: 1% 4%;
  font-size: 2em;
  color: black;
  background: rgb(102, 189, 146);
  border: none;
  margin: 0 auto 0 2%;
}
.buttons2:hover {
  border-radius: 100%;
  padding: 1% 4%;
  font-size: 2em;
  color: black;
  background: rgb(59, 129, 198);
  border: none;
  margin: 0 auto 0 2%;
}
